<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <!-- Var -->
  <link rel="stylesheet" href="/stylesheets/alfa-root.css">
  <!-- Partials -->
  <link rel="stylesheet" href="/stylesheets/base-header.css">
  <link rel="stylesheet" href="/stylesheets/base-body.css">
  <link rel="stylesheet" href="/stylesheets/base-conteiner.css">
  <link rel="stylesheet" href="/stylesheets/base-footer.css">
  <link rel="stylesheet" href="/stylesheets/content-.css">
  <link rel="stylesheet" href="/stylesheets/content-calc.css">
  <!-- Title -->
  <title>
    <%= title %>
  </title>
</head>