<body>
  
<header>
  <nav class="nav">
    <div class="menu">
      <div>
        <a href="/">Home</a>
      </div>
      <a href="/anime">Anime</a>
      <a href="/manga">Manga</a>
      <a href="/anime/watch">Watch</a>
      <a href="/manga/read">Read</a>
    </div>
  </nav>
</header>