<body>
  
<div class="menu__flyout">
  <!-- Watch -->
  <a class="menu__flyout__link" href="/anime/watch">Watch</a>

  <!-- Anime -->
  <div class="flyout__group">
    <button class="menu__flyout__button" type="button">
      <a class="menu__flyout__link" href="/anime">Anime</a>
      <div class="flyout__group__menu">
        <p class="flyout__title">Anime</p>
          <a class="flyout__list" href="/anime">Anime Search</a>
          <a class="flyout__list" href="/anime">Top Anime</a>
          <a class="flyout__list" href="/anime">Seasonal Anime</a>
          <a class="flyout__list" href="/anime">Videos</a>
          <a class="flyout__list" href="/anime">Reviews</a>
          <a class="flyout__list" href="/anime">Recommendations</a>
      </div>
    </button>
  </div>
   
  <!-- Home -->
  <a class="menu__flyout__link" href="/">Home</a>

  <!-- Manga -->
  <div class="flyout__group">
    <button class="menu__flyout__button" type="button">
      <a class="menu__flyout__link" href="/manga">Manga</a>
      <div class="flyout__group__menu">
        <p class="flyout__title">Manga</p>
          <a class="flyout__list" href="/anime">Manga Search</a>
          <a class="flyout__list" href="/anime">Top Manga</a>
          <a class="flyout__list" href="/anime">Seasonal Manga</a>
          <a class="flyout__list" href="/anime">Store</a>
          <a class="flyout__list" href="/anime">Reviews</a>
          <a class="flyout__list" href="/anime">Recommendations</a>
      </div>
    </button>
  </div>

  <!-- Read -->
  <a class="menu__flyout__link" href="/manga/read">Read</a>
</div>