<body>
  
<header>
  <nav class="nav">
    <div class="menu">
      <a class="vt-flyout-button" href="/">Home</a>

      <!--  -->
      <div class="vt-flyout nav-bar-menu-group">
        <button type="button" class="vt-flyout-button">
          <span class="vt-flyout-button" aria-haspopup="true" aria-expanded="true">
            Anime
          </span>
        </button>
      
        <!-- flyout -->
        <div class="vt-flyout-menu">
          <div class="vt-menu">
            <div class="vt-menu-items">
              <!--  -->
              <!--  -->
              <div class="vt-menu-group">
                <p class="vt-menu-title">Anime</p>
                <!--  -->
                <!--  -->
                <a class="vt-link link vt-menu-link" href="/anime">Anime</a>
                <a class="vt-link link vt-menu-link" href="/anime">Anime</a>
                <a class="vt-link link vt-menu-link" href="/anime">Anime</a>
                <a class="vt-link link vt-menu-link" href="/anime">Anime</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  -->
      <a class="vt-flyout-button" href="/manga">Manga</a>
      <a class="vt-flyout-button" href="/anime/watch">Watch</a>
      <a class="vt-flyout-button" href="/manga/read">Read</a>
    </div>
  </nav>
</header>