<!-- html -->
<!-- head -->
<%- include('./partials/head.ejs') %>
<!-- /head -->
  <!-- body -->
  <!-- header -->
  <%- include('./partials/header.ejs') %>

  <!-- content -->
  <div class="content">
    <h2>Watching anime</h2>
  </div>
  <!-- /content -->

  <!-- footer -->
<%- include('./partials/footer.ejs') %>
  <!-- /body -->
<!-- /html -->