<!-- html -->
<!-- head -->
<%- include('./partials/head.ejs') %>
<!-- /head -->
  <!-- body -->
  <!-- header -->
  <%- include('./partials/header.ejs') %>

  <!-- content -->

  <section class="content">
    <div class="calculator">

    </div>
  </section>







  <!-- /content -->

  <!-- footer -->
<%- include('./partials/footer.ejs') %>
  <!-- /body -->
<!-- /html -->