.vt-flyout:hover {
  color: var(--text-color);
  transition: color .25s;
}

.vt-flyout {
  position: relative;
}

/* button */
.vt-flyout-button {
  display: flex;
  align-items: center;
  font-family: var(--ff-spec);
/*   padding: 15px 10px; */
/*   height: 15px; */
  color: var(--text-color);
  transition: color .5s;
  font-size: 16px;
  margin: 8px 5px;
}

button, 
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
}

button,
  [role=button] {
    cursor: pointer;
}

button {
  padding: 0;
  background-color: transparent;
  background-image: none;
}

button, input, optgroup, select, textarea {
    border: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
}

/* vt-flyout-menu */
.vt-flyout:hover .vt-flyout-menu, .vt-flyout-button[aria-expanded=true]+.vt-flyout-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.vt-flyout-menu {
  position: absolute;
  border: 1px solid var(--line-c);
  border-radius: 15px;
  top: calc(75px / 2 + 15px);
  left: calc(-18px * 2 - 15px);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4px);
  transition: opacity .25s,visibility .25s,transform .25s;
}

/* vt-menu */
.vt-menu {
  background: var(--background-color-dark);
  box-shadow: white;
  border: 1px solid var(--line-c);
}
.vt-menu {
  border-radius: 8px;
  padding: 12px 0;
  min-width: 150px;
  border: inherit;
  background: var(--background-color-dark);
  box-shadow: white;
  transition: background-color .5s;
}

/* vt-menu-items */
.vt-menu-items {
  transition: border-color .5s;
}

/* vt-menu-group */
.vt-menu .vt-menu-group {
  padding: 0 0 12px;
}

/* vt-menu-group-title */
.vt-menu-group-title {
  font-family: var(--ff-spec);
  padding: 0 18px;
  line-height: 28px;
  font-size: 10px;
  font-weight: 600;
  color: var(--vt-c-text-3);
  text-transform: uppercase;
  transition: color .25s;
}

.vt-menu-group > p {
  margin: 5px 39%;
}

.vt-menu-link {
  display: block;
  font-family: var(--ff-spec);
  padding: 0 18px;
  line-height: 28px;
  font-size: 13px;
  font-weight: 400;
  color: var(--vt-c-text-1);
  white-space: nowrap;
  transition: color .25s;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a, area, button, [role=button], input, label, select, summary, textarea {
  touch-action: manipulation;
}
a {
  background-color: transparent;
}