body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  font-family: var(--ff-spec);
  background-color: var(--background-color-dark);
}

.nav {
  height: 50px;
  border-bottom: 1px solid var(--line-c);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav .vt-flyout-button {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  transition: .3s;
  opacity: .9;
}

.nav:hover a {
  opacity: .25;
}

.nav a:hover {
  opacity: 1;
}

.content {
  margin: 15px 20%;
  height: 1000px;
  display: flex;
  flex: auto;
  justify-content: center;
  border-left: 1px solid var(--line-c);
  border-right: 1px solid var(--line-c);
  border-radius: 20px;
  background-color: var(--background-color-dark);
}

.content > h2 {
  color: var(--text-color);
  font-family: var(--ff-spec);
}

.footer {
  background-color: var(--background-color-dark);
  color: var(--text-color);
  height: 50px;
  border-top: 1px solid var(--line-c);
  flex-shrink: 0;
}