.menu {
  display: inline-flex;
/*   margin-top: 12px; */
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  transition: .3s;
  opacity: .9;
}

.menu > span a {
  padding: 12px;
}

.menu > span:hover a {
  opacity: .1;
}

.menu > span a:hover {
  opacity: 1;
}