<h1>Запрос цены для групп</h1>
  <form>
    <input type="hidden" name="referrer">
    Название: <input type="text" name="name" id="fieldName"><br>
    Размер группы: <input type="text" name=="groupSize"><br>
    Электронная почта: <input type="email" name="email"><br>
    <input type="submit" value="Submit">
  </form>
{{#section 'jquery'}}
  <script>
    $(document).ready(() => {
      $('input[name="referrer"]').val(document.referrer);
    });
  </script>
{{/section}}