<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{#if showTests}}
      <link rel='stylesheet' href='/vendor/mocha.css'/>
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav">
          <a>Anime Search</a>
          <a>Top Anime</a>
          <a>Seasonal Anime</a>
          <a>Rewiews</a>
          <a>Recommendations</a>
        </div>
      </nav>
    </header>



    <div class="content">
    
    </div>



    <footer>

    </footer>




    {{#if showTests}}
      <div id="mocha"></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script>
        mocha.ui('tdd');
        const assert = chai.assert; 
      </script>
      <script src="/qa/tests-global.js"></script>
      {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>
        mocha.run();
      </script>
    {{/if}}
    {{{body}}}
  </body>
</html>
