:root {
    --text-color: rgba(255, 255, 255, .86);
    --text-hover: purple;
    --bgc: #252525;

}

body {
  margin: 0;
  background-color: var(--bgc);
  width: 100%;
}

nav {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  height: 55px;
}

.nav {
    display: flex;
    justify-content: space-between;
}


.content {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 55px;
  padding: 96px 32px;
  text-align: center;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown > a {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 72px;
}

.dropdown:hover .menu {
  opacity: 1;
  visibility: visible;
}

.menu > a {
  font-size: 14px;
  padding: 12px 20px;
  
}

.menu > a:hover {
  background: #f5f5f5;
}

.menu {
  position: relative;
  top: 60px;
  right: -20px;
  display: grid;
  width: 180px;
  padding: 8px 0;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 40px 40px rgb(0 0 0 / 6%);
  opacity: 0;
  visibility: hidden;
  transition: .25s;

}

.menu::before {
  content: "";
  background: inherit;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  top: -7px;
  right: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}